<div class="medium-modal text-center">
  <div class="modal-header">
    <a (click)="activeModal.dismiss('Cross click')" aria-label="Close"
      ><span class="material-icons">close</span></a
    >
  </div>

  <div class="modal-body">
    <img src="../../assets/Logo.svg" />
    <form [formGroup]="registerPetForm" *ngIf="!loading">
      <label class="me-2 mt-2">{{
        editAnimal ? "Nova Foto: " : "Foto: "
      }}</label>
      <input
        formControlName="imagens"
        (change)="convertImage($event)"
        type="file"
      />
      <br />
      <label class="mt-3 me-2">Nome: </label>
      <input formControlName="nome" type="text" />
      <br />
      <ng-select
        class="mt-4"
        [items]="especies"
        bindLabel="nome"
        bindValue="id_especie"
        (change)="getRaca($event, true)"
        [multiple]="false"
        [closeOnSelect]="true"
        placeholder="Escolha uma Especie"
        formControlName="id_especie"
      >
      </ng-select>
      <br />
      <ng-select
        *ngIf="raca.length > 0"
        [items]="raca"
        bindLabel="nome"
        bindValue="id_raca"
        [multiple]="false"
        [closeOnSelect]="true"
        placeholder="Escolha uma Raça"
        formControlName="id_raca"
      >
      </ng-select>

      <br />
      <ng-select
        [items]="porte"
        bindLabel="nome"
        bindValue="id_porte"
        [multiple]="false"
        [closeOnSelect]="true"
        placeholder="Escolha um porte"
        formControlName="id_porte"
      >
      </ng-select>

      <button
        class="mt-4 pet-button primary"
        (click)="register()"
        *ngIf="editAnimal == undefined"
      >
        Cadastrar Pet
      </button>
      <button
        class="mt-4 pet-button primary"
        (click)="editarAnimal()"
        *ngIf="editAnimal !== undefined"
      >
        Editar Pet
      </button>
    </form>
  </div>
  <div class="modal-body" *ngIf="loading">
    <div class="loading-edit">
      <app-loading></app-loading>
    </div>
  </div>
</div>
