@import "src/theme/theme-variables.scss";
.pesquisa {
  width: 60%;
  float: right;
  margin-top: 10em;
  a {
    background: none;
    border: none;
    padding: 20px;
  }
  img {
    width: 330px;
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
  .pesquisa {
    width: 80% !important;
  }
}
