<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
  <pre>Cadastro</pre>

  <div class="row">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="nome"
        formControlName="nome"
      />
    </div>
    <div class="form-group">
      <label for="dt_Nascimento">Data de nascimento</label>
      <input
        type="text"
        class="form-control"
        name="dt_Nascimento"
        id="dt_Nascimento"
        formControlName="dt_Nascimento"
      />
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
        type="text"
        class="form-control"
        name="cpf"
        id="cpf"
        formControlName="cpf"
        mask="000.000.000-00"
      />
      <div *ngIf="formCadastro.controls.cpf.errors?.pattern">CPF INVÁLIDO!</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        formControlName="email"
        placeholder="nome@email.com"
      />
      <div *ngIf="formCadastro.controls.email.errors?.pattern">
        EMAIL INVÁLIDO!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="confirmarEmail">Confirmar e-mail</label>
      <input
        type="email"
        class="form-control"
        name="confirmarEmail"
        id="confirmarEmail"
        formControlName="confirmarEmail"
        placeholder="nome@email.com"
      />
      <div *ngIf="formCadastro.controls.email.errors?.pattern">
        EMAIL INVÁLIDO!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="senha"
          class="form-control"
          name="senha"
          id="senha"
          formControlName="senha"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="senha">Repita sua senha</label>
        <input
          type="senha"
          class="form-control"
          name="senha"
          id="senha"
          formControlName="senha"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="cep">CEP</label>
      <input
        type="text"
        class="form-control"
        name="cep"
        id="cep"
        formControlName="endereco.cep"
        (blur)="consultaCEP()"
        mask="00.000-000"
      />
    </div>
    <div class="form-group">
      <label for="rua">Endereço</label>
      <input
        type="text"
        class="form-control"
        name="rua"
        id="rua"
        formControlName="endereco.rua"
      />
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="bairro">Bairro</label>
      <input
        type="text"
        class="form-control"
        name="bairro"
        id="bairro"
        formControlName="endereco.bairro"
      />
    </div>
    <div class="form-group">
      <label for="complemento">Complemento</label>
      <input
        type="text"
        class="form-control"
        name="complemento"
        id="complemento"
        formControlName="endereco.complemento"
      />
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input
        type="text"
        class="form-control"
        name="cidade"
        id="cidade"
        formControlName="endereco.cidade"
      />
    </div>
    <div class="form-group">
      <label for="estado">Estado</label>
      <input
        type="text"
        class="form-control"
        name="estado"
        id="estado"
        formControlName="endereco.estado"
      />
    </div>
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Salvar" />
  <a href="#" class="btn btn-secondary mt-4 ml-2" (click)="resetar()"
    >Cancelar</a
  >
</form>
