<app-nav-bar></app-nav-bar>
<section>
  <div>
    <h1>petstop</h1>
    <p class="mt-4 mb-4">
      A ponte entre pessoas que querem <br />adotar seu novo amigo e doadores.<br />
      Cadastra-se para encontrar seu <br />novo parceiro!
    </p>
    <div class="d-flex">
      <button (click)="registration('adotante')" class="pet-button primary me-2">
        Quero Adotar
      </button>
      <button (click)="registration('doador')" class="pet-button secondary">
        Quero Doar
      </button>
    </div>
  </div>
  <div>
    <img src="../../assets/Logo.svg" />
  </div>
</section>
