@import "src/theme/theme-variables.scss";

section {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  img {
    //  width: 240px;
    height: 405px;
  }
  h1 {
    font-size: 6.5rem;
  }
  p {
    font-size: 1.875rem;
  }
}
.hide-on-desktop {
  display: none;
}
.hide-on-mobile {
  display: block;
}
@media (max-width: $screen-md-min) {
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: block;
    text-align: center;
    img {
      height: 300px;
    }
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.475rem;
    }
    button {
      width: 190px;
      text-align: center;
    }
  }
}
