<div class="medium-modal text-center">
  <div class="modal-header">
    <a (click)="activeModal.dismiss('Cross click')" aria-label="Close"
      ><span class="material-icons">close</span></a
    >
  </div>

  <div class="modal-body">
    <img src="../../assets/Logo.svg" />
    <form [formGroup]="loginForm">
      <span class="modal__radio">
        <input
          class="me-1"
          formControlName="tipo"
          type="radio"
          id="doador"
          name="tipo"
          value="0"
        />
        <label class="me-4" for="doador">Doador</label>
      </span>
      <span class="modal__radio">
        <input
          class="me-1"
          formControlName="tipo"
          type="radio"
          id="adotante"
          name="tipo"
          value="1"
        />
        <label for="adotante">Adotante</label>
      </span>
      <label class="form__label">E-mail</label>
      <input formControlName="email" type="email" />
      <label class="form__label mt-2">Senha</label>
      <input class="mb-2" formControlName="senha" type="password" /><br />
      <p>Ou use uma rede social</p>
      <div class="d-flex">
        <button class="pet-button google" (click)="loginSocial('google')">
          Google
        </button>
        <button class="pet-button face" (click)="loginSocial('facebook')">
          Facebook
        </button>
      </div>
      <button class="mt-5 pet-button primary" (click)="login()">
        Fazer Login
      </button>
    </form>
  </div>
  <div class="modal-footer">
    <span>Esqueceu a senha?</span>
  </div>
</div>
