/*
 * Application global variables.
 */

// ---------------------------------------------------------------------------
// Bootstrap variables
//
// Override Bootstrap variables here to suite your theme.
// Copy variables you want to customize from node_modules/bootstrap/scss/_variables.scss

//
// Media Querys
//
//MEDIA QUERIES
$screen-xs-min: 420px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;

//
// Color system
//

$black: #000000;
$white: #ffffff;
$background: #f9edcc;
$red: #ea2b1f;
$purple: #61210f;
$orange: #f9df74;
$orange2: #edae49;
$orange3: #f9edcd;
$facebook: #3b5998;
$linkedin: #0077b5;
$twitter: #1da1f2;
$gmail: #ff6550;

$gradient: linear-gradient(90deg, #885f96 0%, #602a73 100%);
$lightgradient: linear-gradient(90deg, #744585 0%, #542565 100%);
$darkgradient: linear-gradient(90deg, #602a73 0%, #482056 100%);

$transition-speed: 0.3s;
$transition-fn: ease-in-out;
@import "./mixins.scss";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
