<section>
  <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <!-- <pre>Cadastro</pre> -->

    <!-- <div class="ellipse">  -->   
    <div class="d-flex" id="nome-div">
      <div>
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="nome"
          formControlName="nome"
        />
      </div>
    </div>

    <div class="d-flex" id="cpf-div">
      <div>
        <label for="cpf">CPF</label>
        <input
          type="text"
          class="form-control"
          name="cpf"
          id="cpf"
          formControlName="cpf"
          placeholder="000.000.000-00"
          mask="000.000.000-00"
        />
        <div *ngIf="formCadastro.controls.cpf.errors?.pattern">CPF INVÁLIDO!</div>
      </div>
      <div id="dataNascimento-div">
        <label for="dataNascimento">Data de nascimento</label>
        <input
          type="date"
          class="form-control"
          name="dataNascimento"
          id="dataNascimento"
          formControlName="dataNascimento"
        />
        <!-- <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="picker" name="dataNascimento" formControlName="dataNascimento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
      </div>
    </div>

    <div class="d-flex" id="email-div">
      <div>
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          formControlName="email"
          placeholder="nome@email.com"
        />
        <div *ngIf="formCadastro.controls.email.errors?.pattern">
          EMAIL INVÁLIDO!
        </div>
      </div>
    </div>

    <div class="d-flex" id="senha-div">
      <div>
        <label for="senha">Senha</label>
        <input
          type="password"
          class="form-control"
          name="senha"
          id="senha"
          formControlName="senha"
        />
      </div>
    </div>

    <div class="d-flex" id="telefone-div">
      <div>
        <label for="telefone">Telefone</label>
        <input
          type="text"
          class="form-control"
          name="telefone"
          id="telefone"
          formControlName="telefone"
          placeholder="(00) 00000-0000"
          mask="(00)00000-0000"
        />
      </div>  
      <div id="cep-div">
        <label for="cep">CEP</label>
        <input
          type="text"
          class="form-control"
          name="cep"
          id="cep"
          formControlName="cep"
          placeholder="00.000-000"
          (blur)="consultaCEP()"
          mask="00.000-000"
        />
      </div>
    </div>

    <div class="d-flex" id="rua-div">
      <div>
        <label for="rua">Endereço</label>
        <input
          type="text"
          class="form-control"
          name="rua"
          id="rua"
          formControlName="rua"
        />
      </div>
      <div id="numero-div">
        <label for="bairro">Número</label>
        <input
          type="text"
          class="form-control"
          name="numero"
          id="numero"
          formControlName="numero"
        />
      </div>
    </div>

    <div class="d-flex" id="bairro-div">
      <div>
        <label for="bairro">Bairro</label>
        <input
          type="text"
          class="form-control"
          name="bairro"
          id="bairro"
          formControlName="bairro"
        />
      </div>
      <div id="complemento-div">
        <label for="complemento">Complemento</label>
        <input
          type="text"
          class="form-control"
          name="complemento"
          id="complemento"
          formControlName="complemento"
        />
      </div>
    </div>

    <div class="d-flex" id="cidade-div">
      <div>
        <label for="cidade">Cidade</label>
        <input
          type="text"
          class="form-control"
          name="cidade"
          id="cidade"
          formControlName="cidade"
        />
      </div>
      <div id="estado-div">
        <label for="estado">Estado</label>
        <input
          type="text"
          class="form-control"
          name="estado"
          id="estado"
          formControlName="estado"
        />
      </div>
    </div>

    <div class="d-flex" id="cancelar-div">
      <div style="text-align: left;">
        <a href="#" class="pet-button secondary" (click)="homeReturn()" style="color: gray; text-decoration: none">Voltar</a>
      </div>
      <div>
        <a href="#" class="pet-button secondary" (click)="resetar()" style="color: gray; text-decoration: none">Limpar</a>
      </div>
      <div id="cadastrar-div">
        <input type="submit" class="pet-button primary me-2" value="Cadastrar" />
      </div>
    </div>

    <!-- </div> -->
  </form>
  <div id="image">
    <img src="../../assets/Logo.svg" />
  </div>
  
  <pre> {{ formCadastro.value | json}} </pre>

</section>

    <!-- <div class="row">
      <div class="form-group">
        <label for="confirmarEmail">Confirmar e-mail</label>
        <input
          type="email"
          class="form-control"
          name="confirmarEmail"
          id="confirmarEmail"
          formControlName="confirmarEmail"
          placeholder="nome@email.com"
        />
        <div *ngIf="formCadastro.controls.email.errors?.pattern">
          EMAIL INVÁLIDO!
        </div>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="form-group">
        <label for="senha">Repita sua senha</label>
        <input
          type="senha"
          class="form-control"
          name="senha"
          id="senha"
          formControlName="confirmarSenha"
        />
      </div>
    </div> -->
