@import "src/theme/theme-variables.scss";
.page-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  .side-bar {
    width: 380px;
    background-color: $white;
    position: absolute;
    height: 100%;
    top: 0;
    .user-avatar,
    .user-buttons {
      margin-left: 2em;
    }
    .avatars {
      display: inline-flex;
      flex-direction: row-reverse;
    }

    .avatar,
    .avatar-img {
      height: 80px;
      width: 80px;
      background-color: $white;
      border-radius: 50%;
      display: inline-block;
    }
    .user-name {
      display: block;
    }
  }
  a {
    color: $black;
    text-decoration: none;
    line-height: 40px;
  }
  .close {
    float: right;
  }
}
.router {
  // text-align: center;
  // margin: 10em 5em;
  width: 100%;
}
.desktop {
  display: none;
}
.mobile {
  display: block;
}
.excluir {
  position: absolute;
  bottom: 10px;
  right: 10%;
  text-align: center;
}
@media (max-width: $screen-md-min) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    text-align: center;

    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.475rem;
    }
  }
  .page-container {
    .side-bar {
      width: 100%;
    }
  }
  .excluir {
    right: 40%;
  }
}
