@import "src/theme/theme-variables.scss";
section {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  img {
    margin-left: 1em;
  }
  a {
    margin: 1.5em 1em;
    font-weight: bold;
    font-size: 1.45rem;
    text-decoration: none;
    color: $black;
  }
}
